<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Metadata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function submitRanking(metadataId, ranking) {
            document.getElementById('metadata_id').value = metadataId;
            document.getElementById('ranking').value = ranking;
            document.getElementById('rankingForm').submit();
        }
    </script>
</head>
<body>
    <h1>PDF Metadata</h1>
    <form method="POST">
        <label for="field">Field:</label>
        <select name="field" id="field">
            {% for field in db_labels %}
                <option value="{{ field }}">{{ field | capitalize }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="pattern">Pattern:</label>
        <input type="text" id="pattern" name="pattern" required>
        <br><br>
        <button type="submit">Filter</button>
    </form>
    <table>
        <thead>
            <tr>
                {% for field in db_labels %}
                    <th>
                        <a href="{{ url_for('index', order_by=field, order_dir='ASC' if order_by != field else 'DESC') }}">
                            {{ field | capitalize }}
                        </a>
                    </th>
                {% endfor %}
                <th><a href="{{ url_for('index', order_by='parent_directory', order_dir='ASC' if order_by != 'parent_directory' else 'DESC') }}">Parent Directory</a></th>
                <th>Path</th>
                <th>Flag</th>
                <th><a href="{{ url_for('index', order_by='ranking', order_dir='ASC' if order_by != 'ranking' else 'DESC') }}">Ranking</a></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in metadata %}
                <tr style="background-color: {{ item['color_flag'] }}">
                    {% for field in db_labels %}
                        <td>{{ item[field] }}</td>
                    {% endfor %}
                    <td>{{ item['parent_directory'] }}</td>
                    <td><a href="{{ url_for('serve_file', filename=item['path']) }}" target="_blank">Link</a></td>
                    <td>
                        <form action="{{ url_for('update_flag') }}" method="post">
                            <input type="hidden" name="metadata_id" value="{{ item['id'] }}">
                            <input type="color" name="color_flag" value="{{ item['color_flag'] }}">
                            <button type="submit">Update</button>
                        </form>
                    </td>
                    <td>
                        <div>
                            {% for i in range(1, 6) %}
                                <span style="cursor: pointer; color: {{ 'gold' if item['ranking'] >= i else 'gray' }};" onclick="submitRanking('{{ item['id'] }}', '{{ i }}')">&#9733;</span>
                            {% endfor %}
                        </div>
                    </td>
                    <td><a href="{{ url_for('view', metadata_id=item['id']) }}">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form id="rankingForm" action="{{ url_for('update_ranking') }}" method="post" style="display: none;">
        <input type="hidden" id="metadata_id" name="metadata_id">
        <input type="hidden" id="ranking" name="ranking">
    </form>
</body>
</html>
