<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Metadata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ metadata['Title'] }}</h1>
    {% for label in top_fields_view %}
    <p><strong>{{ label }}:</strong> {{ metadata[label] }}</p>
    {% endfor %}
    <p><strong>Path:</strong> <a href="{{ url_for('serve_file', filename=metadata['Path']) }}" target="_blank">Link</a></p>
    <p><a href="{{ url_for('index') }}">Back to list</a></p>

    <h2>Additional Fields</h2>
        {% for key, value in metadata.items() %}
            {% if key not in top_fields_view and key not in ['Title', 'Path', 'id', 'color_flag', 'ranking'] %}
                <p><strong>{{ key }}:</strong> {{ value }}</p>
            {% endif %}
        {% endfor %}

    <h2>Add New Key</h2>
    <form action="{{ url_for('view', metadata_id=metadata['id']) }}" method="post">
        <input type="hidden" name="metadata_id" value="{{ metadata['id'] }}">
        <label for="key">Key:</label>
        <input type="text" id="key" name="key" required>
        <label for="value">Value:</label>
        <textarea id="value" name="value" required></textarea>
        <button type="submit">Add Key</button>
    </form>
</body>
</html>
